@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

.Block {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 841px;
    background-color: #141414;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    .Block_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1176px;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;

    }

    .welcome_text {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        font-family: "Epilogue", sans-serif;
        color: #fff;
        width: 1176px;
    }

    .welcome_text_meed {
        padding-top: 50px;
        display: none;
        justify-content: space-between;
        font-family: "Epilogue", sans-serif;
        color: #fff;
        width: 653px;
    }

    .welcome_text_small {
        padding-top: 50px;
        font-weight: 600;
        font-size: 38px;
        line-height: 105%;
        letter-spacing: -0.04em;
        display: none;
        justify-content: space-between;
        font-family: "Epilogue", sans-serif;
        color: #fff;
        width: 335px;
    }

    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 149%;
        letter-spacing: -0.02em;
    }

    h1 {
        font-weight: 600;
        font-size: 60px;
        line-height: 103%;
        letter-spacing: -0.04em;
    }



    .slider_and_hand {
        width: 1176px;
        height: 394px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .slider_and_hand_meed {
        width: 704px;
        height: 765px;
        display: none;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .slider_and_hand_small {
        width: 335px;
        height: 850px;
        display: none;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
    }

}

@media(max-width: 1200px) {
    .Block {
        height: 1111px;
        width: 100%;

        .Block_row {
            height: 1011px;
            width: 730px;
        }

        .welcome_text {
            display: none;
        }

        .slider_and_hand {
            display: none;
        }

        .welcome_text_meed {
            display: flex;
            width: auto;

            h1 {
                width: 653px;
                height: 186px;
                margin-right: auto;
            }
        }

        .slider_and_hand_meed {
            display: flex;
            flex-wrap: wrap;
            width: 904px;
            height: 765px;
            margin-right: auto;
            font-family: "Epilogue", sans-serif;
            color: #fff;
            margin-left: auto;

            img {
                margin-left: auto;
                margin-right: auto;
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 129%;
                letter-spacing: -0.02em;
            }
        }
    }

}

@media(max-width: 768px) {
    .Block {
        height: 1311px;
        width: 100%;

        .Block_row {
            height: 1011px;
            width: 335px;
        }

        .welcome_text {
            display: none;
        }
        .welcome_text_meed {
            display: none;
        }
        .welcome_text_small {
            display: flex;
            width: auto;

            h1 {
                width: 335px;
                height: 120px;
                margin-right: auto;
                font-weight: 600;
                font-size: 38px;
                line-height: 105%;
                letter-spacing: -0.04em;
                margin-bottom: 60px;
            }
        }
        .slider_and_hand {
            display: none;
        }
        .slider_and_hand_meed {
            display: none;
        }


        .slider_and_hand_small {
            display: flex;
            flex-wrap: wrap;
            width: 335px;
            height: 850px;
            margin-right: auto;
            font-family: "Epilogue", sans-serif;
            color: #fff;
            margin-left: auto;

            img {
                margin-left: auto;
                margin-right: auto;
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 129%;
                letter-spacing: -0.02em;
            }
        }
    }

}